<%- include('layout/header') %>


    <div class="container mt-5 ">
        <h2 class="text-center mb-4">Edit User (<%= user.name %>)</h2>
        <div class="edit-user-container">

            <form action="/update/<%= user._id %>" method="post" id="add-form" enctype="multipart/form-data"
                class="custom-form">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control custom-input" id="name" value="<%= user.name %>"
                        placeholder="Enter name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" value="<%= user.email %>" name="email" class="form-control custom-input"
                        id="email" placeholder="Enter email" required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="tel" value="<%= user.phone %>" name="phone" class="form-control custom-input"
                        id="phone" placeholder="Enter phone" required>
                </div>
                <div class="form-group">
                    <label for="image">Select Image</label>
                    <input type="file" name="image" class="form-control-file custom-file-input" id="image">
                    <img src="<%= user.image %>" width="100" class="img-thumbnail  ">
                </div>
                <input type="hidden" name="old_image" value="<%= user.image %>" class="btn ">
                <button type="submit" class="btn btn-success btn-lg custom-button">Add User</button>
            </form>
        </div> 
    </div>

    <%- include('layout/footer') %>
        <style>
            .container .text-center {
                color: rgb(0, 0, 0);
            }
        </style>